input {
    color: black;
}

label {
    margin-top: 5px;
}

#flash {
    top: 0;
    left: 50%;
    transform: translate(-50%);
    color: rgb(0, 255, 4);
    position: fixed;
}

.checkmark:hover {
    color: rgb(63, 63, 249) !important;
}

@media (min-width: 640px) {
    .container {
        width: 23%;
    }
}